.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 1.5rem;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}

.button:disabled:hover {
  transform: scale(1);
}

.button:hover {
  transform: scale(1.01);
}
